.questionBody {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
}

.answer_question_view {
  width: 15%;
}

.answer_question_text {
  width: 60%;
}

.answer_question_right {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}

.pinned {
  border-style: solid;
  border-color: green;
}

.locked {
  border-style: dashed;
  border-color: lightgray;
}

.tag {
  border-width: 2px;
  /* You can keep the border if needed */
  outline: 2px solid black;
  /* Apply outline with 2px width and black color */
  border-radius: 10%;
  padding: 2px;
  margin-bottom: 10px;
}