/* Add CSS */

/* Add global CSS here */

:root {
  --font-size: 16px;
}

body,
* {
  font-size: var(--font-size);
}

/* Add CSS stylesheet */

* {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  background: var(--background-color);
}

html {
  height: 100%;
}

body,
#root {
  height: 100%;
  margin: 0;
}

/* index.css */

:root {
  /* Light Mode Colors */
  --background-color: #ffffff;
  --text-color: #000000;
  --primary-color: #007bff;
  /* Add any other variables needed */
}

.dark {
  /* Dark Mode Colors */
  --background-color: #333;
  --text-color: #ffffff;
  --primary-color: #bb86fc;
}
