/* styles.css */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-content {
  background: var(--background-color);
  padding: 30px;
  width: 400px;
  height: 400px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.popup-content h2 {
  margin-top: 0;
  text-align: center;
  width: 100%;
}

.setting-option {
  width: 100%;
  margin-bottom: 10px;
  background-color: var(--background-color);
}

.checkbox-label {
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.checkbox {
  width: 20px; /* Increase width for larger checkbox */
  height: 20px; /* Increase height for larger checkbox */
  margin-right: 8px; /* Add space between checkbox and label text */
}

.close-btn {
  align-self: center;
  padding: 8px 16px;
  font-size: 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.close-btn:hover {
  background-color: #0056b3;
}

.setting-option select {
  font-size: 1rem; /* Increase font size */
  padding: 8px; /* Increase padding for a bigger dropdown */
  width: 100%; /* Make dropdown wider */
  max-width: 200px; /* Set a maximum width to control size */
}

.popup {
  background-color: #f5f5f5;
  color: #333;
}

.popup-content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  color: #333;
}

/* Other optional dark mode adjustments */
.close-btn {
  background-color: #ccc;
  color: #333;
}

/* General styles */
body,
.popup,
.other-component {
  transition:
    background-color 0.3s,
    color 0.3s;
}

/* Dark mode styles */
.dark .popup,
.dark .other-component {
  background-color: #222;
  color: #f5f5f5;
}

.dark .popup-content,
.dark .other-component-content .dark .setting-option {
  background-color: #333;
  color: #f5f5f5;
}

.dark .close-btn {
  background-color: #444;
  color: #f5f5f5;
}
